.ui.container {
  margin-top: 50px;
}

.ui.grid.checkboxes {
  margin-top: 25px;
}

#getSprints {
  margin: 20px;
}

#github-button {
  color: #403F4C;
}

.card-image img {
  height: 56px;
  width: 56px;
}

.student-card.row {
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid lightgrey;
}

.progress {
  padding-bottom: 10px;
}

#app .ui.complete-button {
  background-color: #85D19C;
  color: white;
  /* color: #403F4C; */
}

#app .ui.progress-button {
  background-color: #FFE65B;
  color: #403F4C;
  /* color: white; */
}

#app .ui.danger-button {
  background-color: #F44D63;
  /* color: #403F4C; */
  color: white;
}
