.ui.container {
  margin-top: 50px;
}

.ui.list.report-detail {
  margin: 3em;
}

.top-nav {
  color: white;
  background-color: rgb(57, 57, 66);
  padding: 30px;
}

.top-nav-item {
  padding: 0px 20px;
  font-size: 18px;
}

.ui.grid.checkboxes {
  margin-top: 25px;
}

#getSprints {
  margin: 20px;
}

#ghostbuster-button {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #F44D63;
}

.ghostbuster-button-text {
  color: #403F4C;
}

#github-button {
  color: #403F4C;
}

.repo-title {
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  border-bottom: 2px solid lightgrey;
  color: #2185d0;
}

.repo-item {
  padding-top: 20px;
}


.card-image img {
  height: 56px;
  width: 56px;
}

.student-card.row {
  margin-bottom: 10px;
  margin-top: 10px;
  border-bottom: 1px solid lightgrey;
}

.progress {
  padding-bottom: 10px;
}

.team-title {
  color: #2185d0;
  text-align: center;
  padding: 40px;
}

.report-detail {
  padding: 20px;
}

.team-card {
  border: 1px solid lightgrey;
}

#app .ui.complete-button {
  background-color: #85D19C;
  color: white;
  /* color: #403F4C; */
}

#app .ui.progress-button {
  background-color: #FFE65B;
  color: #403F4C;
  /* color: white; */
}

#app .ui.danger-button {
  background-color: #F44D63;
  /* color: #403F4C; */
  color: white;
}
