## old file structure config
config/cohorts.js
config/config.js
config/sprints.js
config/teams.js
config/students.js

## new file structure config
server/config/cohorts.js
server/config/config.js
server/config/sprints.js
server/config/teams.js
server/config/students.js

##environment variables
.env

# Dependency directories
node_modules/

# Mac OS
.DS_store

# Webpack
/public

# Fake Data
fakeData.js


